Important.txt
ML_Exercises-Solved_by_Me
Week02-Ex1-Linear_Regression/Starter_Code
Week02-Ex1-Linear_Regression/lib
Week02-Ex1-Linear_Regression/submit.m
Week02-Ex1-Linear_Regression/token.mat

Week03-Ex2-Logistic_Regression/Starter_Code
Week03-Ex2-Logistic_Regression/lib
Week03-Ex2-Logistic_Regression/submit.m
Week03-Ex2-Logistic_Regression/token.mat

Week04-Ex3-Neural_Networks_Representation/Starter_Code
Week04-Ex3-Neural_Networks_Representation/lib
Week04-Ex3-Neural_Networks_Representation/submit.m
Week04-Ex3-Neural_Networks_Representation/token.mat

Week05-Ex4-Neural_Network_Learning/Starter_Code
Week05-Ex4-Neural_Network_Learning/lib
Week05-Ex4-Neural_Network_Learning/submit.m
Week05-Ex4-Neural_Network_Learning/token.mat

Week06-Ex5-Advice_for_Applying_Machine_Learning

Week07-Ex6-Support_Vector_Machines

Week08-Ex7-Unsupervised_Learning

Week09-Ex8-Anomaly_Detection
